﻿
*{  text-decoration: none;
	margin: 0px;
	padding: 0px;
}

/*MAIN SCREEN*/
body{
position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: 0.43px;}

/*LOGO*/
.wrapper{
/*HEADER MENU*/
width: 1440px;
height: 90px;
margin: auto;
position: absolute;
left: 0%;
right: 0%;
top: -0.03%;
bottom: 90.66%;
background: rgba(0, 0, 0, 0.5);
}

.logo a{
height: 33px;
width: 77px;
left: 107px;
top: 28.700042724609375px;
border-radius: nullpx;

position: absolute;
width: 77px;
height: 33px;
left: 107px;
top: 28.7px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;

color: #FFFFFF;}

/*MENU*/
/*NAVBAR*/
.menu li a {
	text-decoration: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12pt;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
}

.menu{
	display: flex;
	text-indent: 90px;
	margin-top: 39px;
	margin-left: 140px;
}

.contact{
	text-indent: 90px;
}

.aboutme{
	text-indent: 100px;
}

/*LOGIN & SIGN UP*/
.login ul li a{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12pt;
	line-height: 16px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	text-decoration: none;
}

.login ul {
	display: flex;;
}

.login{
	text-indent: 20px;
	margin-top: -50px;
	margin-left: 1125px;
}

.sign{
	text-decoration: none;
}

.log{
	text-decoration: none;
}

/*TEXT MATI DI TENGAH*/
.deskripsi{
position: absolute;
height: 73.12px;
left: 9.22%;
right: 10.47%;
top: calc(50% - 73.12px/2 - 130.06px);
font-family: 'Arial';
font-style: bold;
font-weight: 700;
font-size: 72px;
line-height: 83px;
text-align: center;
letter-spacing: 2px;
color: #FFFFFF; /* 3/9*/
word-spacing: 1px;
}

/*Button PLAY NOW*/
.buttonplay {
	font-color: black;
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 700;
	font-size: 16px;
	line-height: 21.79px;
	text-transform: uppercase;
	position: absolute;
	margin-left: 550px;
	margin-top: 500px;
}

.playnow {
	background-color: #FFB548;
	padding: 20px 50px 25px 50px;
	border-radius: 4px;
	border: red;
	width: 260.36px;
	height: 60px;
	text-align: center;
}

/*THE STORY */
.story{
	font-color: white;
	margin-left: -50px;
}
.scrolldown{
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 690px;
	margin-top: 860px;
	font-family: 'Open Sans';
	font-style: bold;	
}
/*SCROLL DOWN BUTTON THE STORY*/

.scrolldown1{
	margin-left: 712px;
}

/* MAIN BACKGROUND*/
body 
{background-image: url("assets/main-bg.jpg");
background-repeat: no-repeat;
background-size: 1440px 961px;
}

/*PAGE 2*/
/*Tulisan What'so special&the games*/

.whats {
	color: #FFFFFF;
	font-style: normal;
	font-family: 'Arial';
	margin-top: -800px;
	margin-left: 70px;
	font-weight: 400;
	font-size: 24px;
	line-height: 64px;
	letter-spacing: 2px;
}

.thegames {
	color: #FFFFFF;
	font-style: normal;
	font-family: 'Arial';
	margin-top: -25px;
	margin-left: 70px;
	font-weight: 400;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: 2px;
}

.bgpage2{
	margin-top: 20px;
	margin-left: -1px;
	z-index: 1;
}

.bgk {
	position: absolute;
	margin-top: -760px;
	margin-left: 470px;
	z-index: 2;
}


.swipeleft{
	position: relative;
	margin-left: 400px;
	margin-top: 150px;
}

.swiperight{
	margin-top: 160px;
	margin-left: 950px;
}

.circle{
	z-index: 3;
}

.fullcircle{
	margin-top: -600px;
	margin-left: 300px;
	z-index: 4;

}

/*PAGE 3*/
.page3{
	margin-top: 500px;
	margin-left: -1px;
}

.textpage3{
	text-align: left;
	margin-left: 800px;
	margin-top: -720px;
}
.whatssospecial {
	color: #FFFFFF;
	family-font: 'Arial';
	font-size: 24px;
	font-weight: 400px;
	font-style: normal;
	letter-spacing: 2px;
}
.features {
	color: #FFFFFF;
	family-font: 'Arial';
	font-size: 56px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 3px;
	position: absolute;
	line-height: 64px;
	margin-top: -15px;
}
.menufeatures {
	margin-top: 120px;
	margin-left: 40px;
}

.traditionalgames {
	color: #FFB548;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
}

.if {
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}

.gamesuit {
	color: #FFB548;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	margin-top: 60px;
}

.tbd {
	color: #FFB548;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	margin-top: 60px;
}

.bul1{
	margin-top:-585px;
	margin-left:-1px;
}

.out1{
	margin-top: -310px;
	margin-left: 0px;
}

.out2{
	margin-top: -131px;
	margin-left: -21px;
}

.progressbar{
	border-radius: 50px;
	color: red;
	margin-top: -530px;
	margin-left: 7px;
}

/*PAGE 4*/
.page4{
	opacity:0.98;
	margin-top: 199px;
}

.canmy{
	margin-top: -701px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16.1px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-left: 600px;
	margin-top: -840px;
}

.tablepg4{
	margin-left: 100px;
}

.hori1{
	border:#FFB548;
	border-radius: 2px;
	margin-top: -112px;
	margin-left: -576px;
}

.hori2{
	border:#FFB548;
	border-radius: 2px;
	margin-top: 130px;
	margin-left: -575px;
}

.ver{
	border:#FFB548;
	border-radius: 10px;
	margin-left: -295px;
	margin-top: -133px;
}

.os{
	margin-left: 120px;
	margin-top: -380px;
}

.pro{
	margin-top: -65px;
	margin-left: 400px;
}

.mem{
	margin-top: 90px;
	margin-left: 120px;
}

.st{
	margin-left: 400px;
	margin-top: -60px;
}

.grap{
	margin-left: 120px;
	margin-top: 70px;
}

.isireq{
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 22px;
	color:#FFFFFF;
}

.os1{
	margin-left: 120px;
	margin-top: -330px;
}

.pro1{
	margin-left: 400px;
	margin-top: -75px;
}

.mem1{
	margin-left: 120px;
	margin-top: 70px;
}

.sto1{
	margin-left: 400px;
	margin-top: -55px;
}

.grap1{
	margin-left: 120px;
	margin-top: 80px;
}

.system{
	color: #FFFFFF;
	font-size: 56px;
	font-weight: 400;
	line-height: 64.39px;
	letter-spacing: 3px;
	margin-top: 80px;
	margin-left: 100px ;
}

.req{
	position: absolute ;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	color: #FFB548;
}

/*PAGE 5*/

.bgpage5{
	margin-top: 181px;
}
#textpage5{
	margin-top: -700px;
	font-size: 40px;
}

.topscore{
	color: #FFFFFF;
	font-family: Arial;
	font-size: 56px;
	font-weight:400;
	line-height: 64.39px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-left: 118.97px;
}


.thistop{
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	font-style: normal;
	margin-left: 118.97px;
	margin-top: 40px;
}

.buttonsee{
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	text-transform: lowercase;
	color: #1a1917;
}

.btnsee{
	background-color: #FFB548;
	padding: 20px 80px 20px 80px;
	border-radius: 4px;
	margin-left: -970px;
	margin-top: 30px;
}
/*/Kolom testimoni*/
.testi1{
	margin-top: -750px;
	margin-left: 900px;
}

.testi2{
	margin-left: 800px;
	margin-top: -400px;
}

.testi3{
	margin-top: -80px;
	margin-left: 860px;
}
.twit1{
	margin-top: -1140px;
	margin-left: -35px;
}
.twit2{
	margin-top: -675px;
	margin-left: -130px;
}
.twit3{
	margin-top: -195px;
	margin-left: 30px;
}

/*Foto pemberi testimoni*/
.com1{
	border-radius: 50%;
}

.com2{
	border-radius: 50%;
}

.com3{
	border-radius: 50%;
}

/*Komponen Testimoni*/
/*Nama*/
.testiname{
	position: absolute;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	color:#FFB548;
}
.evan{
	margin-top: -620px;
	margin-left: 1050px;
}

.jada{
	margin-top: 205px;
	margin-left: 950px;
}

.aaron{
	margin-top: 210px;
	margin-left: 1010px;
}

/*Job Pemberi Testimoni*/
.job{
	position: absolute;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
	color:#FFFFFF;
	opacity: 0.5;
	margin-top: -400px;
}

.jobevan{
	margin-top: -190px;
	margin-left: 1050px;
}

.jobjada{
	margin-top: 210px;
	margin-left: 950px;
}

.jobaaron{
	margin-top: 215px;
	margin-left: 1010px;
}

/*Kalimat testimoni*/

.comment{
	position: absolute;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}

.cm1{
	margin-top: -545px;
	margin-left: 945px;
}

.cm2{
	margin-top: 190px;
	margin-left: 845px;
}

.cm3{
	margin-top: 185px;
	margin-left: 905px;
}

/*Tanggal Pemberian Testimoni*/

.date{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.date1{
	margin-top: -500px;
	margin-left: 945px;
}

.date2{
	margin-left: 845px;
	margin-top: 210px;
}

.date3{
	margin-left: 905px;
	margin-top: 220px;
}

/*Avatar Pemberi Testimoni*/
.com1{
	margin-top: -1240px;
	margin-left: 945px;
}

.com2{
	margin-top: -775px;
	margin-left: -170px;
}

.com3{
	margin-top: -305px;
	margin-left: -5px;
}


/*PAGE 6*/
.blackbg{
	margin-top: 185px;
}

.picpage6{
	margin-top: -1100px;
	margin-left: 160px;
	opacity: 0.80;
}	

.want{
	margin-top: -800px;
	margin-left: 680px;
	family-font: 'Arial';
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
	color: #FFFFFF;
}

.newsletter {
	margin-top: 25px;
	margin-left: 675px;
	family-font: 'Arial';
	font-size: 65px;
	font-weight: 400;
	line-height: 75px;
	font-style: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.inorder {
	margin-top: 30px;
	margin-left: 675px;
	family-font: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	color: #FFFFFF;
}

.subscribe {
	font-color: black;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 16px;
	line-height: 21.79px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	margin-left: 1060px;
	margin-top: 40px;
}

.btnsub {
	background-color: #FFB548;
	padding: 20px 50px 20px 50px;
	border-radius: 4px;
}

/*EMAIL*/
.boxemail{
	position: absolute;
	width: 366.92px;
	height: 60px;
	border-radius: 5px;
	opacity: 0.95;
	margin-left: 680px;
	margin-top: 44px;
}

.youremail{
	position: absolute;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 19px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
	border-radius: 4px;
	margin-left: 690px;
	margin-top: 52px;
}

.isiemail{
	position: absolute;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 25px;
	color: #FFB548;
	margin-left: 690px;
	margin-top: 69px;
}

/*Footer*/

.bottomnav ul li a{
	text-decoration: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12pt;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	margin-top: 290px;
	margin-left: -170px;
}

.bottomnav{
	text-indent: 240px;
}

.about2{
	text-indent: 80px;
}

.features2{
	text-indent: -55px;
}

.system2{
	text-indent: -110px;
}

.quotes{
	text-indent: -100px;
}

.bottomnav ul{
	display: flex;
}

.quotes{
	margin-left: 600px;
}

/* Socmed Button*/
.socmedbutton{
	display: flex;
	text-indent: 35px;
	margin-left: 1050px;
	margin-top: 260px;
}

.cursor{
	margin-top:10px;
	margin-left: -95px;
}

/*Garis bawah*/
.bottomline{

	margin-top: 40px;
	margin-left: 80px;
}

/*Copyright*/
.copyright{
	position: absolute;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	color: #FFFFFF;
	opacity: 0.5;

	margin-top: 20px;
	margin-left: 80px;
}

/*Privacy Policy*/
.pp{
	position: absolute;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;

	margin-top: 20px;
	margin-left: 875px;
}

